body.collection {
    background-image: url(../assets/images/blurred_backgrounds/blur_bg_2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.albumn-covers {
    position: relative;
}

.collection-albumn-container .caption {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.collection-albumn-container p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.6);
}

.collection-albumn-container p a {
   color: rgba(255, 255, 255, 0.6); 
}

.collection-albumn-container .caption p a.albumn-name {
    color: white;
}

.collection-albumn-container img {
    width: 80%;
}